<h2 style="color: khaki;">View Employee Details</h2>
<div class="main">
    
    <div>
        <label><b>Full Name: </b>{{employee.ename}}</label>
    </div>
    <div>
        <label><b>Address: </b>{{employee.eaddress}}</label>
    </div>
    <div>
        <label><b>Email ID: </b>{{employee.eemail}}</label>
    </div>
    <div>
        <label><b>Joining Date: </b>{{employee.ejoiningdate}}</label>
    </div>
    <div>
        <label><b>Phone number: </b>{{employee.ephone}}</label>
    </div>
    <div>
        <label><b>Employee Type: </b>{{employee.etype}}</label>
    </div>
    <div>
        <label><b>Working Department ID: </b>{{employee.did}}</label>
    </div>
    <div>
        <label><b>Working Project ID: </b>{{employee.pid}}</label>
    </div>
</div>
